@charset "ISO-8859-1";

body {
    background-color: rgb(53,53,53);
}

.jump {
    height: 2px;
    clear: both;
}

header {
    width: 100%;
    color: rgb(0,128,220);
    background-color: rgb(40,40,40);
    float: left;
}

header #logo,
header nav {
    width: 20%;
    float: left;
}

.emp{
    height: 100%;
    width: 100%;
}

header h1 {
    width: 58%;
    text-align: center;
    float: left;
}

ul {
    /*list-style-type: none;*/
    margin-right: 30px;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: rgb(0,128,220);
}

a:hover{
	color: #B5B5A5;
}

#column_right {
    width: 30%;
    height: 562px;
    background-color: rgb(40,40,40);
    float: left;
}

.empty_a {
    height: 230px;
    margin: 40px;
    background-color: rgb(40,40,40);
}

.empty_b {
    height: 230px;
    margin: 40px;
    background-color: rgb(40,40,40);
}

#section1 {
    width: 67%;
    padding: 10px 20px;
    background-color: rgb(53,53,53);
    float: left;
}

#space_bottom {
    margin-bottom: 100px;
}

hr {
    background-color: black;
    border: black solid 1px;
}

footer {
    text-align: center;
    clear: both;
}

footer fieldset {
    display: inline;
    width: 30%;
    font-size: small;
}

.enlace {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

p{
	color: rgb(223,238,255);
}

h2{
	color: rgb(0,128,220);
}



