@charset "ISO-8859-1";

body {
    background-color: #313b4a;
}

.jump {
    height: 2px;
    clear: both;
}

header {
    width: 100%;
    color: white;
    background-color: #C23035;
    float: left;
}

header #logo,
header nav {
    width: 20%;
    float: left;
}

.emp{
    height: 100%;
    width: 100%;
}

header h1 {
    width: 58%;
    text-align: center;
    float: left;
}

ul {
    /*list-style-type: none;*/
    margin-right: 30px;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	color: #B5B5A5;
}

#column_right {
    width: 30%;
    height: 562px;
    background-color: #BF4E08;
    float: left;
}

.empty_a {
    height: 230px;
    margin: 40px;
    background-color: #cb692d;
}

.empty_b {
    height: 230px;
    margin: 40px;
    background-color: #cb692d;
}

#section1 {
    width: 67%;
    padding: 10px 20px;
    background-color: white;
    float: left;
}

#space_bottom {
    margin-bottom: 100px;
}

hr {
    background-color: black;
    border: black solid 1px;
}

footer {
    text-align: center;
    clear: both;
}

footer fieldset {
    display: inline;
    width: 30%;
    font-size: small;
}