@charset "ISO-8859-1";

body {
    background-color: rgb(53,53,53);;
}

.jump {
    height: 2px;
    clear: both;
}

header {
    width: 100%;
    color: rgb(0,128,220);
    background-color: rgb(40,40,40);
    float: left;
}

header #logo,
header nav {
    width: 20%;
    float: left;
}

.emp{
    height: 100%;
    width: 100%;
}

header h1 {
    width: 58%;
    text-align: center;
    float: left;
}

.tema {
	margin-left: 30px !important;
	padding-top: 10px !important;
	color: rgb(0,128,220) !important;
}

ul {
    /*list-style-type: none;*/
    margin-right: 30px;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
    color: rgb(0,128,220);
}

a:hover{
	color: #B5B5A5;
}



hr {
    background-color: black;
    border: black solid 1px;
}

footer {
    text-align: center;
    clear: both;
}